
#header {
    border-bottom: 2px solid lightgray;
    padding: 35px;
  }
  #button-img {
    background-color: #dfe6ed;
    border: #dfe6ed;
    padding: 10px 25px;
  }
 
  #button-redondo {
    background-color: #dfe6ed;
    border: #dfe6ed;
    padding: 60px 25px;
  } 

  img {

    height: 30px;
    width: 25px;
  }

h3 {

    float: right;
}  

.h4 {

    color: #6558f5;
    float: right;
    font-size: 30px;
    margin-left: 50px;
}  
  .row {
    margin: 0px;
    display: flex;
  }
  
  #aside {

    padding: 20px 30px 20px 5px;
    float: left;
    border-right: 2px solid lightgray;
    border-radius: 0px;
    background-color: #f7f9fa;
  }
  
  #ul-aside {
    list-style: none;
  }
  
  .list-group-item {

    margin: 30px 0px 0px 0px;
    font-size: 30px;
    border: none;
    background-color: #f7f9fa;
  }
  
  .list-group-item:hover {
    color: #6557f5;
    border-left: 3px solid #6558f5;
    background-color: #f7f9fa;
  }
  
 
  #div-perfil {
    padding: 37px 50px 0px 50px;
  }
  
  #nav-perfil,
  #nav-dados {
    font-size: 30px;
    color: #e8833a;
    border-bottom: 3px solid #e8833a;
  }
  
  #col-perfil {
    display: flex;
    float: left;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  #col-perfil h4 {
    color: #eb7c22;
  }
  
  #col-perfil h5 {
    margin: 10px 0px 0px 0px;
  }
  
  #button-redondo {
    border-radius: 50%;
    padding: 10px;
  }
  
  #col-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  
  #col-form input {
    margin: 5px 0px 20px 0px;
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 5px;
  }
  
  #nav-submit {
    border-top: 3px solid #e8833a;
    padding: 53px 0px 53px 0px;
  }
  
  .btn-limpar {
    background-color: #c3cfd9;
    color: #3c4b57;
    font-size: 25px;
    border-radius: 4px;
    border: 2px;
  }
  
  .btn-salvar {
    background-color: #1542d8;
    display: flex;
    margin-left: 90%;
    font-size: 25px;
    border-radius: 4px;
    border: 2px;
    margin-top: -30px;
}

